<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    Build in-house with love by
    <a href="https://visiondreamict.wordpress.com" target="_blank">{{VisionDreamBuild.Title}} ICT Solutions</a>.
  </p>
  <p>
    © 2019 {{VisionDreamBuild.Title}}, Inc. All rights reserved.
  </p>
  <p>
    Super-powered by: <a href="/" target="_top">{{VisionDreamBuild.Title}}</a> | Current version: {{version.version}}
  </p>
</div>
